manifest {
    name = 'call-NonCanonicalPeptide'
    author = ['Chenghao Zhu', 'Lydia Y. Liu']
    homePage = 'https://github.com/uclahs-cds/pipeline-call-NonCanonicalPeptide'
    description = 'Nextflow pipeline to call non-canonical peptides as custom databases for proteogenomic analysis'
    mainScript = 'main.nf'
    version = '1.0.0'
}