includeConfig "${projectDir}/config/default.config"
includeConfig "${projectDir}/config/methods.config"
includeConfig "${projectDir}/nextflow.config"

params {
    output_dir = "${projectDir}/test/output/test-integration-merge" as String
    input_csv = "${projectDir}/test/test-integration-merge/input.csv" as String
    sample_id = 'UCLA0001'
    index_dir = NFT_INDEX_DIR
    ucla_cds = false
    save_intermediate_files = true
    entrypoint = 'gvf'

    enable_encode_fasta = true
    enable_decoy_fasta = true

    database_processing_modes = ['split', 'merge', 'plain']

    exprs_table = "${projectDir}/test/files/rsem.txt" as String

    novel_orf_peptide = NFT_NOVEL_ORF_PEPTIDE
    alt_translation_peptide = NFT_ALT_TRANSLATION_PEPTIDE

    callVariant {
        max_variants_per_node = 7
        cleavage_rule = 'trypsin'
        miscleavage = 2
        min_mw = 500
        min_length = 7
        max_length = 25
    }

    filterFasta {
        variant_peptide {
            skip_lines = 1
            tx_id_col = 1
            quant_col = 5
            quant_cutoff = 100
        }
        novel_orf_peptide {
            skip_lines = 1
            tx_id_col = 1
            quant_col = 5
            quant_cutoff = 100
        }
        alt_translation_peptide {
            skip_lines = 1
            tx_id_col = 1
            quant_col = 5
            quant_cutoff = 100
        }
        merged_peptides {
            skip_lines = 1
            tx_id_col = 1
            quant_col = 5
            quant_cutoff = 100
        }
    }

    splitFasta {
        order_source = 'gSNP,gINDEL,Fusion'
        max_source_groups = 2
    }
}

methods.setup()

process.echo = false
