includeConfig "${projectDir}/config/default.config"
includeConfig "${projectDir}/config/methods.config"
includeConfig "${projectDir}/nextflow.config"

params {
    output_dir = "test/output/"
    input_csv = "test/test-integration/input.csv"
    sample_name = 'UCLA0001'
    index_dir = 'test/files/index'
    ucla_cds = false
    save_intermediate_files = true

    parseREDItools {
        transcript_id_column = 16
        min_coverage_alt = 3
        min_frequency_alt = 0.1
    }

    parseArriba {
        min_split_read1 = 1
        min_split_read2 = 1
        min_confidence = 'medium'
    }

    parseCIRCexplorer {
        min_read_number = 1
    }

    parseFusionCatcher {
        max_common_mapping = 0
        min_spanning_unique = 5
    }

    parseRMATS {
        min_ijc = 1
        min_sjc = 1
    }

    parseSTARFusion {
        min_est_j = 5.0
    }

    callVariant {
        max_variants_per_node = 7
        cleavage_rule = 'trypsin'
        miscleavage = 2
        min_mw = 500
        min_length = 7
        max_length = 25
    }

    splitDatabase {
        order_source = 'gSNP,gINDEL,Fusion'
    }
}

methods.setup()
