includeConfig "${projectDir}/config/default.config"
includeConfig "${projectDir}/config/methods.config"
includeConfig "${projectDir}/nextflow.config"

params {
    output_dir = "test/output/"
    input_csv = "test/test-integration/input.csv"
    sample_name = 'UCLA0001'
    index_dir = 'test/files/index'
    ucla_cds = false
    save_intermediate_files = true

    splitDatabase {
        order_source = 'gSNP,gINDEL,Fusion'
    }
}

methods.setup()
