import nextflow.util.SysHelper

params {
    max_cpus   = SysHelper.getAvailCpus()
    max_memory = SysHelper.getAvailMemory()
    ucla_cds = true

    mopepgen_version = '0.7.2'
    docker_image_moPepGen = "blcdsdockerregistry/mopepgen:${params.mopepgen_version}"
    noncoding_peptides = '_NO_FILE'
    split_fasta = true
    filter_fasta = false
    encode_fasta = false
    decoy_fasta = false
    save_intermediate_files = false
    merge_variant_noncoding = 'no'
}

docker {
    enabled = true
    // Pass user's UID/GID and group IDs to Docker
    uid_and_gid = "-u \$(id -u):\$(id -g)"
    all_group_ids = "\$(for i in `id --real --groups`; do echo -n \"--group-add=\$i \"; done)"

    runOptions = "${uid_and_gid} ${all_group_ids}"
}

process {
    executor = 'local'
    echo = true
}
