import nextflow.util.SysHelper

params {
    max_cpus   = SysHelper.getAvailCpus()
    max_memory = SysHelper.getAvailMemory()
    ucla_cds = true

    mopepgen_version = '0.2.0-9db7b68'
    docker_image_moPepGen = "blcdsdockerregistry/mopepgen:${params.mopepgen_version}"
    noncoding_fasta = '_NO_FILE'
    split_database = true
    filter_fasta = false
    save_intermediate_files = false
}

docker {
    enabled = true
    // Pass user's UID/GID and group IDs to Docker
    uid_and_gid = "-u \$(id -u):\$(id -g)"
    all_group_ids = "\$(for i in `id --real --groups`; do echo -n \"--group-add=\$i \"; done)"

    runOptions = "${uid_and_gid} ${all_group_ids}"
}

process {
    executor = 'local'
    echo = true
}
