import nextflow.util.SysHelper

params {
    _DEFAULT_NOVEL_ORF_PEPTIDES = '_NO_FILE_NOVEL_ORF'
    _DEFAULT_ALT_TRANSLATION_PEPTIDES = '_NO_FILE_ALT_TRANSLATION'

    max_cpus   = SysHelper.getAvailCpus()
    max_memory = SysHelper.getAvailMemory()
    ucla_cds = true

    mopepgen_version = '1.3.1'
    docker_image_moPepGen = "ghcr.io/uclahs-cds/mopepgen:${params.mopepgen_version}"
    novel_orf_peptide = params._DEFAULT_NOVEL_ORF_PEPTIDES
    alt_translation_peptide = params._DEFAULT_ALT_TRANSLATION_PEPTIDES
}

docker {
    enabled = true
    // Pass user's UID/GID and group IDs to Docker
    uid_and_gid = "-u \$(id -u):\$(id -g)"
    all_group_ids = "\$(for i in `id --real --groups`; do echo -n \"--group-add=\$i \"; done)"

    runOptions = "${uid_and_gid} ${all_group_ids}"
}

process {
    executor = 'local'
    echo = true
}
