process {
    withName: 'call_variant' {
        cpus = 30
        memory = '60 GB'
    }
    withName: 'parse_VEP' {
        cpus = 1
        memory = '16 GB'
    }
    withName: 'parse_Arriba' {
        cpus = 1
        memory = '16 GB'
    }
    withName: 'parse_CIRCexplorer' {
        cpus = 1
        memory = '16 GB'
    }
    withName: 'parse_FusionCatcher' {
        cpus = 1
        memory = '16 GB'
    }
    withName: 'parse_REDItools' {
        cpus = 1
        memory = '16 GB'
    }
    withName: 'parse_rMATS' {
        cpus = 1
        memory = '16 GB'
    }
    withName: 'parse_STARFusion' {
        cpus = 1
        memory = '16 GB'
    }
    withName: 'split_fasta' {
        cpus = 1
        memory = '16 GB'
    }
    withName: 'merge_fasta' {
        cpus = 1
        memory = '12 GB'
    }
    withName: 'filter_fasta' {
        cpus = 1
        memory = '10 GB'
    }
    withName: 'decoy_fasta' {
        cpus = 1
        memory = '10 GB'
    }
    withName: 'encode_fasta' {
        cpus = 1
        memory = '6 GB'
    }
}
