// External config files import
includeConfig "${projectDir}/config/default.config"
includeConfig "${projectDir}/config/methods.config"
includeConfig "${projectDir}/nextflow.config"

// Inputs/parameters of the pipeline
params {
    sample_name = 'UCLA0001'
    output_dir = "where/to/save/outputs/"
    index_dir = 'path/to/index_dir'
    entrypoint = 'parser'
    database_processing_modes = []  // split, merge, and/or plain
}

methods.setup()
