// External config files import
includeConfig "${projectDir}/config/default.config"
includeConfig "${projectDir}/config/methods.config"
includeConfig "${projectDir}/nextflow.config"

// Inputs/parameters of the pipeline
params {
    sample_id = 'UCLA0001'
    output_dir = "where/to/save/outputs/"
    index_dir = 'path/to/index_dir'
    entrypoint = 'parser'
    database_processing_modes = []  // split, merge, and/or plain
}

methods.setup()

process {
    withName: 'call_VariantPeptide' {
        cpus = 8  // Change it to the desired number of CPUs.
        memory = '30 GB'  // Change it to the desired memory.
    }
}
