includeConfig "${projectDir}/config/default.config"
includeConfig "${projectDir}/config/methods.config"
includeConfig "${projectDir}/nextflow.config"

params {
    output_dir = "${projectDir}/test/output/test-integration-no-split"
    input_csv = "${projectDir}/test/test-integration-no-split/input.csv"
    sample_name = 'UCLA0001'
    index_dir = "${projectDir}/test/files/index"
    ucla_cds = false
    save_intermediate_files = true
    entrypoint = 'gvf'

    enable_filter_fasta = true
    enable_encode_fasta = true
    enable_decoy_fasta = true

    database_processing_modes = ['merge', 'plain']

    exprs_table = "${projectDir}/test/files/rsem.txt"

    noncoding_peptides = '/hot/software/pipeline/pipeline-call-NonCanonicalPeptide/Nextflow/development//unreleased/data/noncoding_peptides.fasta'
    alt_translation_peptides = '/hot/software/pipeline/pipeline-call-NonCanonicalPeptide/Nextflow/development/unreleased/data/alt_translation.fasta'


    callVariant {
        max_variants_per_node = 7
        cleavage_rule = 'trypsin'
        miscleavage = 2
        min_mw = 500
        min_length = 7
        max_length = 25
    }

    filterFasta {
        variant_peptides {
            skip_lines = 1
            tx_id_col = 1
            quant_col = 5
            quant_cutoff = 100
        }
        merged_peptides {
            skip_lines = 1
            tx_id_col = 1
            quant_col = 5
            quant_cutoff = 100
        }
    }

    splitFasta {
        order_source = 'gSNP,gINDEL,Fusion'
        max_source_groups = 2
    }
}

methods.setup()

process.echo = false
