includeConfig "${projectDir}/config/default.config"
includeConfig "${projectDir}/config/methods.config"
includeConfig "${projectDir}/nextflow.config"

params {
    output_dir = "${projectDir}/test/output/test-integration-entrypoint-parser/"
    input_csv = "${projectDir}/test/test-integration-entrypoint-gvf/input.csv"
    sample_name = 'UCLA0001'
    index_dir = "${projectDir}/test/files/index"
    ucla_cds = false
    save_intermediate_files = true
    entrypoint = 'fasta'

    variant_fasta = "${projectDir}/test/files/variant.fasta"

    split_fasta = true
    encode_fasta = true
    decoy_fasta = true

    exprs_table = "${projectDir}/test/files/rsem.txt"
    noncoding_peptides = '/hot/software/pipeline/pipeline-call-NonCanonicalPeptide/Nextflow/development//unreleased/data/noncoding_peptides.fasta'

    filterFasta {
        variant_peptides {
            skip_lines = 1
            tx_id_col = 1
            quant_col = 5
            quant_cutoff = 100
        }
        noncoding_peptides {
            skip_lines = 1
            tx_id_col = 1
            quant_col = 5
            quant_cutoff = 100
        }
    }

    splitFasta {
        order_source = 'gSNP,gINDEL,Fusion'
        max_source_groups = 2
    }

    summarizeFasta {
        ignore_missing_source = true
    }
}

methods.setup()
