includeConfig "${projectDir}/config/default.config"
includeConfig "${projectDir}/config/methods.config"
includeConfig "${projectDir}/nextflow.config"

params {
    output_dir = "${projectDir}/test/output/test-integration-entrypoint-fasta/" as String
    input_csv = "${projectDir}/test/test-integration-entrypoint-gvf/input.csv" as String
    sample_id = 'UCLA0001'
    index_dir = "${projectDir}/test/files/index" as String
    ucla_cds = false
    save_intermediate_files = true
    entrypoint = 'fasta'

    variant_peptide = "${projectDir}/test/files/variant.fasta" as String

    enable_encode_fasta = true
    enable_decoy_fasta = true

    database_processing_modes = ['split', 'merge', 'plain']

    exprs_table = "${projectDir}/test/files/rsem.txt" as String
    novel_orf_peptide = '/hot/software/pipeline/pipeline-call-NonCanonicalPeptide/Nextflow/development/unreleased/data/noncoding_peptides.fasta'
    alt_translation_peptide = '/hot/software/pipeline/pipeline-call-NonCanonicalPeptide/Nextflow/development/unreleased/data/alt_translation.fasta'

    filterFasta {
        variant_peptide {
            skip_lines = 1
            tx_id_col = 1
            quant_col = 5
            quant_cutoff = 100
        }
        novel_orf_peptide {
            skip_lines = 1
            tx_id_col = 1
            quant_col = 5
            quant_cutoff = 100
        }
        alt_translation_peptide {
            skip_lines = 1
            tx_id_col = 1
            quant_col = 5
            quant_cutoff = 100
        }
        merged_peptides {
            skip_lines = 1
            tx_id_col = 1
            quant_col = 5
            quant_cutoff = 100
        }
    }

    splitFasta {
        order_source = 'gSNP,gINDEL,Fusion'
        max_source_groups = 2
    }

    summarizeFasta {
        ignore_missing_source = true
    }
}

methods.setup()
